.lookbook-gallery-item.swiper svg {
  width: 100%;
  height: 100%;
}
.lookbook-gallery-container {
  display: flex;
  flex-wrap: wrap;
}
.lookbook-gallery-item.swiper {
  width: 300px;
  margin-bottom: 2rem;
}
.lookbook-gallery-item.swiper img {
  width: 100%;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.lookbook-gallery-slide-media {
  position: relative;
}
.lookbook-gallery-slide-media {
  display: block;
  cursor: pointer;
}
/* On hover show second image */
.lookbook-gallery-slide-media-hover:hover img.lookbook-first-image {
  display: none;
}
.lookbook-gallery-slide-media-hover img.lookbook-secondary-image {
  display: none;
}
.lookbook-gallery-slide-media-hover:hover img.lookbook-secondary-image {
  display: block;
}
.lookbook-gallery-slide-details {
  height: 150px;
  padding: 1rem;
}
.lookbook-gallery-slide-details .lookbook-addtocard {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.lookbook-gallery-slide-details .lookbook-addtocard .product-form__submit {
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.lookbook-gallery-slide-details h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  margin: 0;
}
.lookbook-gallery-slide-details span.badge.price__badge-sale {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Dots */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  border: 0.1rem solid rgba(var(--color-foreground), 1);
}
.swiper-pagination.square .swiper-pagination-bullet {
  border-radius: unset;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(var(--color-foreground));
}
@media only screen and (min-width: 629px) {
  .lookbook-gallery-slide-media {
    height: 400px;
  }
  .lookbook-gallery-item.swiper img {
    height: 100%;
    object-fit: contain;
  }
}
@media only screen and (min-width: 999px) {
  .lookbook-gallery-item.swiper {
    margin-left: 0px;
  }
}
